* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*_______*/

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #663300;
}

.title {
    width: 100%;
    height: auto;
    padding: 60px 20px 0 20px;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFCC99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTitle{
    width: 100%;
    height: auto;
    padding: 20px 20px 0px 20px;
    font-size: 26px;
    font-weight: 700;
    color: #FFCC99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textInput {
    width: 90%;
    height: 90%;
    padding: 40px 60px 60px 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFCC99;
    background-color: #FFCC99;
    resize: none;
    white-space: nowrap;
}

.buttonsRow {
    height: 80px;
    width: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileNameInput {
    width: 300px;
    height: 40px;
    padding: 15px;
    box-shadow: 0 0 5px #FFCC99;
    border-radius: 5px;
    background-color: #FFCC99;
    font-size: 16px;
    overflow: scroll;
    resize: none;
    transition: width 0.15s, height 0.15s, font-size 0.15s;
}

.fileNameInputRow{
    width: 320px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileNameInput:focus {
    width: 310px;
    height: 50px;
    font-size: 20px;
}

.fileNameInput:hover {
    width: 310px;
    height: 50px;
    font-size: 20px;
}

.button {
    margin: 0 20px;
    width: auto;
    height: 40px;
    padding: 10px 20px;
    box-shadow: inset 0 0 10px #663300;
    border-radius: 5px;
    background-color: #FFCC99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    transition: transform 0.15s;
}

input[type="file"] {
    display: none;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    transition: transform 0.05s;
    transform: scale(1.05);
}
